
<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h4 class="text-white">Collapsed content</h4>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand d-flex align-items-center" href="#">
    <img src="/images/dark-cloud-logo.jpeg" width="40" height="40" class="d-inline-block align-top me-2" alt="Dark Cloud Logo">
    <span>DARK CLOUD</span>
  </a>
  <div class="ms-auto d-flex align-items-center">
    <span class="navbar-toggler-icon"></span>
    <a class="nav-link text-white me-3" href="#">PRODUCTOS</a>
    <a class="nav-link text-white me-3" href="#">LOGIN</a>
    
  </div>
</nav>
 


</div>